{
  "swagger": "2.0",
  "info": {
    "description": "Aplicacion para MYPEs empleando sus comprobantes electrónicos",
    "version": "1.0.0",
    "title": "Grenter App",
    "contact": {
      "email": "giansalex@gmail.com"
    }
  },
  "host": "greenter.api",
  "basePath": "/api/v1",
  "tags": [
    {
      "name": "sale",
      "description": "Facturas y Boletas"
    },
    {
      "name": "note",
      "description": "Notas de credito y debito"
    },
    {
      "name": "rrhh",
      "description": "Recibo por honorarios"
    }
  ],
  "schemes": [
    "http"
  ],
  "paths": {
    "/sale/{ruc}": {
      "get": {
        "tags": [
          "sale"
        ],
        "summary": "Retorna una lista de ventas",
        "description": "Retorna una lista de ventas (Factura y Boletas)",
        "operationId": "getSales",
        "parameters": [
          {
            "name": "ruc",
            "in": "path",
            "description": "Ruc de la empresa",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Operacion exitosa",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Invoice"
              }
            }
          }
        }
      }
    },
    "/note/{ruc}": {
      "get": {
        "tags": [
          "note"
        ],
        "summary": "Retorna una lista de notas asociadas",
        "description": "Retorna una lista de notas de crédito y/o debito",
        "operationId": "getNotes",
        "parameters": [
          {
            "name": "ruc",
            "in": "path",
            "description": "Ruc de la empresa",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Operacion exitosa",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Note"
              }
            }
          }
        }
      }
    },
    "/rrhh/{ruc}": {
      "get": {
        "tags": [
          "rrhh"
        ],
        "summary": "Retorna una lista de recibo por honorarios",
        "description": "Retorna una lista de recibo por honorarios",
        "operationId": "getRrhhs",
        "parameters": [
          {
            "name": "ruc",
            "in": "path",
            "description": "Ruc de la empresa",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Operacion exitosa",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Receipt"
              }
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "api_key",
      "in": "header"
    }
  },
  "definitions": {
    "Address": {
      "type": "object",
      "properties": {
        "ubigueo": {
          "type": "string"
        },
        "codigoPais": {
          "type": "string"
        },
        "departamento": {
          "type": "string"
        },
        "provincia": {
          "type": "string"
        },
        "distrito": {
          "type": "string"
        },
        "urbanizacion": {
          "type": "string"
        },
        "direccion": {
          "type": "string"
        }
      }
    },
    "Client": {
      "type": "object",
      "properties": {
        "tipoDoc": {
          "type": "string"
        },
        "numDoc": {
          "type": "string"
        },
        "rznSocial": {
          "type": "string"
        },
        "address": {
          "$ref": "#/definitions/Address"
        }
      }
    },
    "Company": {
      "type": "object",
      "properties": {
        "ruc": {
          "type": "string"
        },
        "razonSocial": {
          "type": "string"
        },
        "nombreComercial": {
          "type": "string"
        },
        "address": {
          "$ref": "#/definitions/Address"
        }
      }
    },
    "SaleDetail": {
      "type": "object",
      "properties": {
        "codUnidadMedida": {
          "type": "string"
        },
        "ctdUnidadItem": {
          "type": "number",
          "format": "float"
        },
        "codProducto": {
          "type": "string"
        },
        "desItem": {
          "type": "string"
        },
        "mtoValorUnitario": {
          "type": "number",
          "format": "float"
        },
        "mtoDsctoItem": {
          "type": "number",
          "format": "float"
        },
        "mtoIgvItem": {
          "type": "number",
          "format": "float"
        },
        "tipAfeIgv": {
          "type": "string"
        },
        "mtoIscItem": {
          "type": "number",
          "format": "float"
        },
        "tipSisIsc": {
          "type": "string"
        },
        "mtoPrecioUnitario": {
          "type": "number",
          "format": "float"
        },
        "mtoValorVenta": {
          "type": "number",
          "format": "float"
        },
        "mtoValorGratuito": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "Legend": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "Document": {
      "type": "object",
      "properties": {
        "tipoDoc": {
          "type": "string"
        },
        "nroDoc": {
          "type": "string"
        }
      }
    },
    "SalePerception": {
      "type": "object",
      "properties": {
        "codReg": {
          "type": "string"
        },
        "mtoBase": {
          "type": "number",
          "format": "float"
        },
        "mto": {
          "type": "number",
          "format": "float"
        },
        "mtoTotal": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "Prepayment": {
      "type": "object",
      "properties": {
        "tipoDocRel": {
          "type": "string"
        },
        "nroDocRel": {
          "type": "string"
        },
        "total": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "Detraction": {
      "type": "object",
      "properties": {
        "percent": {
          "type": "number",
          "format": "float"
        },
        "mount": {
          "type": "number",
          "format": "float"
        },
        "valueRef": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "Direction": {
      "type": "object",
      "properties": {
        "ubigueo": {
          "type": "string"
        },
        "direccion": {
          "type": "string"
        }
      }
    },
    "EmbededDespatch": {
      "type": "object",
      "properties": {
        "llegada": {
          "$ref": "#/definitions/Direction"
        },
        "partida": {
          "$ref": "#/definitions/Direction"
        },
        "transportista": {
          "$ref": "#/definitions/Client"
        },
        "nroLicencia": {
          "type": "string"
        },
        "transpPlaca": {
          "type": "string"
        },
        "transpCodeAuth": {
          "type": "string"
        },
        "transpMarca": {
          "type": "string"
        },
        "modTraslado": {
          "type": "string"
        },
        "pesoBruto": {
          "type": "number",
          "format": "float"
        },
        "undPesoBruto": {
          "type": "string"
        }
      }
    },
    "Invoice": {
      "type": "object",
      "properties": {
        "tipoDoc": {
          "type": "string"
        },
        "serie": {
          "type": "string"
        },
        "correlativo": {
          "type": "string"
        },
        "fechaEmision": {
          "type": "string",
          "format": "date"
        },
        "client": {
          "$ref": "#/definitions/Client"
        },
        "company": {
          "$ref": "#/definitions/Company"
        },
        "tipoMoneda": {
          "type": "string"
        },
        "sumOtrosCargos": {
          "type": "number",
          "format": "float"
        },
        "mtoOperGravadas": {
          "type": "number",
          "format": "float"
        },
        "mtoOperInafectas": {
          "type": "number",
          "format": "float"
        },
        "mtoOperExoneradas": {
          "type": "number",
          "format": "float"
        },
        "mtoIGV": {
          "type": "number",
          "format": "float"
        },
        "mtoISC": {
          "type": "number",
          "format": "float"
        },
        "mtoOtrosTributos": {
          "type": "number",
          "format": "float"
        },
        "mtoImpVenta": {
          "type": "number",
          "format": "float"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SaleDetail"
          }
        },
        "legends": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Legend"
          }
        },
        "relDocs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Document"
          }
        },
        "name": {
          "type": "string"
        },
        "tipoOperacion": {
          "type": "string"
        },
        "sumDsctoGlobal": {
          "type": "number",
          "format": "float"
        },
        "mtoDescuentos": {
          "type": "number",
          "format": "float"
        },
        "mtoOperGratuitas": {
          "type": "number",
          "format": "float"
        },
        "totalAnticipos": {
          "type": "number",
          "format": "float"
        },
        "perception": {
          "$ref": "#/definitions/SalePerception"
        },
        "compra": {
          "type": "string"
        },
        "guias": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Document"
          }
        },
        "anticipos": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Prepayment"
          }
        },
        "detraccion": {
          "$ref": "#/definitions/Detraction"
        },
        "guiaEmbebida": {
          "$ref": "#/definitions/EmbededDespatch"
        }
      }
    },
    "Note": {
      "type": "object",
      "properties": {
        "tipoDoc": {
          "type": "string"
        },
        "serie": {
          "type": "string"
        },
        "correlativo": {
          "type": "string"
        },
        "fechaEmision": {
          "type": "string",
          "format": "date"
        },
        "client": {
          "$ref": "#/definitions/Client"
        },
        "company": {
          "$ref": "#/definitions/Company"
        },
        "tipoMoneda": {
          "type": "string"
        },
        "sumOtrosCargos": {
          "type": "number",
          "format": "float"
        },
        "mtoOperGravadas": {
          "type": "number",
          "format": "float"
        },
        "mtoOperInafectas": {
          "type": "number",
          "format": "float"
        },
        "mtoOperExoneradas": {
          "type": "number",
          "format": "float"
        },
        "mtoIGV": {
          "type": "number",
          "format": "float"
        },
        "mtoISC": {
          "type": "number",
          "format": "float"
        },
        "mtoOtrosTributos": {
          "type": "number",
          "format": "float"
        },
        "mtoImpVenta": {
          "type": "number",
          "format": "float"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SaleDetail"
          }
        },
        "legends": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Legend"
          }
        },
        "relDocs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Document"
          }
        },
        "name": {
          "type": "string"
        },
        "codMotivo": {
          "type": "string"
        },
        "desMotivo": {
          "type": "string"
        },
        "tipDocAfectado": {
          "type": "string"
        },
        "numDocfectado": {
          "type": "string"
        },
        "mtoOperGratuitas": {
          "type": "number",
          "format": "float"
        },
        "perception": {
          "$ref": "#/definitions/SalePerception"
        }
      }
    },
    "Receipt": {
      "type": "object",
      "properties": {
        "person": {
          "$ref": "#/definitions/Company"
        },
        "receptor": {
          "$ref": "#/definitions/Client"
        },
        "serie": {
          "type": "string"
        },
        "correlativo": {
          "type": "string"
        },
        "fechaEmision": {
          "type": "string",
          "format": "date"
        },
        "concepto": {
          "type": "string"
        },
        "montoLetras": {
          "type": "string"
        },
        "subTotal": {
          "type": "number",
          "format": "float"
        },
        "retencion": {
          "type": "number",
          "format": "float"
        },
        "porcentaje": {
          "type": "number",
          "format": "float"
        },
        "total": {
          "type": "number",
          "format": "float"
        },
        "name": {
          "type": "string"
        }
      }
    }
  }
}